<div class="container">
    <div class="container-fluid text-center login-container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div ng-show="showErrorMessage">
                    <h3>{{ message }}</h3></div>
                <form ng-submit="login()">
                    <input type="text" placeholder="Username Or Email" class="form-control" ng-model="usernameOrEmail">
                    <br>
                    <input type="password" placeholder="Password" class="form-control" ng-model="password">
                    <br>
                    <button class="btn btn-success login-button">Login</button>
                    <br>
                    <p>Doesn't have an account? Click <a href='../register'>here</a> to register</p>
            </div>
            <div class="col-sm-3"></div>
            </form>
        </div>
    </div>
</div>
